<!DOCTYPE html>
<div class="trx-itemcard" id="trx-itemcard">
	<div id="trx-images">
		<img class="trx-images" src="{{{getPImg item.filename}}}">
	</div>
	<div class="trx-itemdesc">
		<div id="trx-price" style="padding-bottom: 5px">
			<b> Php {{getPrice item.price}} </b>
		</div>
		<div id="trx-itemname" style="padding-bottom: 5px">
			{{item.name}}
		</div>
		<div id="trx-itemcode" style="padding-bottom: 5px">
			<b> {{item.code}} </b>
		</div>
		<br> <br>
		<div id="trx-itemqty">
			Qty: {{prodQty}}
		</div>
	</div>
</div>
