{{> navbar}}

<div id="myorders">
    <div class="order">
        {{#each orders}}
			<div class="order-header {{{getOrdHeadClass status}}}"> 
				<div class="order-date" id="order-date">
					{{stringifyDate dateOrd}}
				</div>
				<div class="order-status" id="order-status">
					{{status}}
				</div>
			</div>
			
			<div class="trx-container">
				<div class="trx-summary">
					<div class="order-content" id="order-number">
						<b> Order#: </b> {{getOrdCode _id}}
					</div>
					<div class="order-content" id="order-numitems">
						<b> Total Items: </b> {{getOrdQty this.prods}}
					</div>
					<br>
					<div class="order-content" id="order-address">
						<b> Shipping Address: </b> {{buyer.0.addr}}
					</div>
					<br>
					<div class="order-content" id="order-totalprice">
						<b> Total Price: </b> Php {{getOrdPrice this.prods}}
					</div>
				</div>
				
				<div class="trx-items" id="trx-items">
					{{#each prods}} {{> orditem this}} {{/each}}
				</div>
			</div>
        {{/each}}
    </div>
</div>
